Repository ibutsu/playwright-ibutsu: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint, npm-format

npm-lint:
  name: npm lint
  entry: npm run lint:fix
  language: system
  pass_filenames: false

npm-format:
  name: npm format
  entry: npm run format
  language: system
  pass_filenames: false

eslint flatconfig, outside of package.json
  eslint.config.js
  package.json
  src/archiver.ts
  src/config.ts
  src/reporter.ts
  src/s3-uploader.ts
  src/sender.ts
  src/types.ts
  test/archiver.test.ts
  test/config.test.ts
  test/types.test.ts
Due: npm-lint, npm-format

eslint/prettier updates
  .gitignore
  .pre-commit-config.yaml
  eslint.config.mjs
  package.json
  src/archiver.ts
  src/config.ts
  src/reporter.ts
  src/s3-uploader.ts
  src/sender.ts
  src/types.ts
Due: npm-lint, npm-format

node 22, eslint, blob artifacts
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yaml
  .gitignore
  .nvmrc
  .pre-commit-config.yaml
  README.md
  jest.config.js
  jest.setup.ts
  package.json
  src/archiver.ts
  src/reporter.ts
  src/sender.ts
  test/s3-uploader.test.ts
  yarn.lock
Due: npm-lint, npm-format

Consistent codecov configuration with ibutsu-server
  codecov.yml
Due: none

valid uuids for testing
  jest.setup.ts
Due: npm-lint, npm-format

Update S3 mocking and suppress logging
  test/s3-uploader.test.ts
Due: npm-lint, npm-format

yarn use in AGENTS
  AGENTS.md
Due: npm-format

Use yarn in github workflows
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yaml
  CONTRIBUTING.md
  README.md
  eslint.config.mjs
  jest.config.js
  package.json
  src/config.ts
  src/reporter.ts
  src/s3-uploader.ts
  src/sender.ts
  src/types.ts
  test/archiver.test.ts
  test/s3-uploader.test.ts
  tsconfig.eslint.json
  tsconfig.json
Due: npm-lint, npm-format

Set version to 0.0.1 for initial release
  package.json
  tsconfig.eslint.json
Due: npm-format

Add github workflows
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
Due: npm-format

pre-commit updates
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yaml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  LICENSE
  README.md
  codecov.yml
  jest.config.js
  package.json
  src/archiver.ts
  src/config.ts
  src/index.ts
  src/reporter.ts
  src/s3-uploader.ts
  src/sender.ts
  src/types.ts
  test/archiver.test.ts
  test/config.test.ts
  test/s3-uploader.test.ts
  test/types.test.ts
  tsconfig.json
Due: npm-lint, npm-format

badge on readme
  README.md
Due: npm-format

add pre-commit, agents, contributing, readme, codecov
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  LICENSE
  README.md
  codecov.yml
Due: npm-format

Sonnet iteration on archiver, reporter, and s3
  .github/workflows/build.yml
  .github/workflows/tests.yaml
  src/archiver.ts
  src/config.ts
  src/index.ts
  src/reporter.ts
  src/s3-uploader.ts
  src/sender.ts
  src/types.ts
  test/archiver.test.ts
  test/config.test.ts
  test/s3-uploader.test.ts
  test/types.test.ts
Due: npm-lint, npm-format

Update typing in the s3 uploader
  .github/workflows/tests.yaml
  test/s3-uploader.test.ts
Due: npm-lint, npm-format

Lower to nvm 20
  .github/workflows/tests.yaml
  .nvmrc
  package.json
Due: npm-format

dynamic version and node 20
  .github/workflows/build.yml
  .github/workflows/publish.yml
  package.json
Due: npm-format

Add RELEASE.md
  RELEASE.md
Due: npm-format

Use IBUTSU_MODE with url directly
  README.md
  package.json
  src/config.ts
  src/reporter.ts
  src/types.ts
  test/config.test.ts
Due: npm-lint, npm-format

ibutsu-client-ts 2.0.4
  RELEASE.md
  package.json
  yarn.lock
Due: npm-format

Remove npm provenance
  .github/workflows/publish.yml
Due: none

Path conditions:
  npm-lint: any of: \.(ts|tsx)$
  npm-format: any of: \.(ts|tsx|json|yaml|md)$
